<% if user_signed_in? %>
  <nav class="main-container-navbar">
    <div class="navbar">
      <a class="navbar-title" href="/">Foods Recipe</a>
      <div class="navbar-text">
        <ul class="navbar-list">
          <li class="nav-item">
            <%= link_to "Foods", foods_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Recipes", recipes_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Public Recipes", public_recipes_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Shopping Lists", shopping_lists_path, class: "nav-link" %>
          </li>
        </ul>
        <span class="span-log-out">
          <div class="div-dropdown">
            <a class="dropdown-toggle" href="#" id="navbar-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.name%>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete, confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, class: "dropdown-item" %>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </nav>
<% end %>