<div class="container-recipe-list">
  <%= link_to "Add Recipe", new_recipe_path, class: "btn-add-recipe" %>
  <% @recipes.each do |recipe| %>
    <div class="card-recipe-list">
    <%= link_to recipe_path(recipe) do %>
      <div class="card-body-recipe-list">
        <article class="article-recipe-list">
          <div class="little-contaienr-recipe-list">
            <h1><%= recipe.name %></h1>
            <%= link_to "REMOVE", recipe_path(recipe), method: :delete, class: "btn-remove-recipe", data: { confirm: 'Are you sure?' } %>
          </div>
          <div>
            <p class="recipe-description">
              <%= recipe.description %>
            </p>
          </div>
        </article>
      </div>
    <% end %> 
    </div>
  <% end %>
  </div>